<h1>Add Food to Inventory</h1>

<%= form_with model: @inventory_food, url: inventory_inventory_foods_path(params[:inventory_id]), local: true, method: :post, scope: :inventory_food do |f| %>
  <%= f.number_field :quantity, placeholder: "Quantity", rows: "8", required: true %>
    <div class="form-group">
      <%= f.select :food_id, @foods.map { |t| [t.name, t.id]}, {}, class: "form-control" %>
    </div>
  <%= f.submit "Create Inventory", class: 'button' %>
<% end %>
