<h1>Your Recipes</h1>

<% @recipes.each do |recipe| %>
  <div>
    <%= recipe.name %>
    <%= recipe.description %>
    <span>By: <%= recipe.user.name %></span>
    <%= button_to 'Delete Recipe', recipe_path(recipe), method: :delete %>
  </div>
<% end %>